<div class="swiper swiperHeader bg-zinc-950/90">

    <div class="swiper-wrapper">

        <div class="swiper-slide relative w-screen h-screen overflow-hidden">

            <div class="absolute inset-0 overflow-hidden w-screen h-screen">
                <div style="background-image: url('{{ asset('build/images/carousel1.avif') }}')" class="w-screen h-screen bg-center bg-no-repeat bg-cover zoom-carousel"></div>
            </div>

            <div class="absolute w-screen h-screen inset-0 bg-gradient-to-b from-transparent via-gray-50 to-neutral-700/50 mix-blend-multiply z-10"></div>
            <div class="absolute w-screen h-screen inset-0 bg-gradient-to-t from-transparent to-neutral-600/15 mix-blend-multiply z-10"></div>

            <main class="relative z-20 flex flex-col justify-end w-screen h-screen opacity-100">
                <div class="lg:p-18 p-8 gap-2">
                    <div class="flex flex-col text-orange-50 w-full gap-4">
                        <div class="flex flex-col lg:flex-row gap-8 lg:gap-0">
                            <div class="w-[90%] lg:w-[50%] flex flex-col justify-between lg:min-h-[22vh] gap-2">
                                <span class="self-center lg:self-start text-3xl lg:text-[5rem] font-bold animate-fade-down animate-once animate-duration-1000 animate-ease-in">DESIGN YOUR FUTURE</span>
                                <div class="hidden lg:flex lg:flex-col text-md lg:text-xl font-semibold">
                                    <span class="animate-fade animate-once animate-duration-500 animate-ease-in animate-delay-250">Chez nous, vos idées prennent forme.</span>
                                    <span class="animate-fade animate-once animate-duration-500 animate-ease-in animate-delay-750">Des espaces uniques, pensés pour durer et marquer.</span>
                                </div>
                            </div>
                            <div class="w-[90%] lg:w-[50%] flex flex-col justify-end gap-8 lg:gap-0">
                                <div class="flex flex-col md:flex-row gap-2 lg:gap-8 items-center lg:items-start w-full justify-end">
                                    <a href="" class="btn-principal animate-fade-up animate-duration-1500 animate-ease-in">Commençons à travailler</a>
                                    <a href="" class="btn-secondaire animate-fade-up animate-duration-1500 animate-ease-in">Découvrez nous</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <div class="swiper-slide relative w-screen h-screen overflow-hidden">

            <div class="absolute inset-0 overflow-hidden w-screen h-screen">
                <div style="background-image: url('{{ asset('build/images/carousel2.avif') }}')" class="w-screen h-screen bg-center bg-no-repeat bg-cover zoom-carousel"></div>
            </div>

            <div class="absolute w-screen h-screen inset-0 bg-gradient-to-b from-transparent via-gray-50 to-neutral-700/50 mix-blend-multiply z-10"></div>
            <div class="absolute w-screen h-screen inset-0 bg-gradient-to-t from-transparent to-neutral-600/15 mix-blend-multiply z-10"></div>

            <main class="relative z-20 flex flex-col justify-end w-screen h-screen opacity-100">
                <div class="lg:p-18 p-8 gap-2">
                    <div class="flex flex-col text-orange-50 w-full gap-4">
                        <div class="flex flex-col lg:flex-row gap-8 lg:gap-0">
                            <div class="w-[90%] lg:w-[50%] flex flex-col justify-between lg:min-h-[22vh] gap-2">
                                <span class="self-center lg:self-start text-3xl lg:text-[5rem] font-bold">SHAPE YOUR SPACES</span>
                                <div class="flex flex-col text-md lg:text-xl font-semibold">
                                    <span class="animate-fade animate-once animate-duration-500 animate-ease-in animate-delay-250">Nous façonnons des espaces qui inspirent.</span>
                                    <span class="animate-fade animate-once animate-duration-500 animate-ease-in animate-delay-750">Un design sur-mesure pour chaque projet unique.</span>
                                </div>
                            </div>
                            <div class="w-[90%] lg:w-[50%] flex flex-col justify-end gap-8 lg:gap-0">
                                <div class="flex flex-col md:flex-row gap-2 lg:gap-8 items-center lg:items-start w-full justify-end">
                                    <a href="" class="btn-principal animate-fade-up animate-duration-1500 animate-ease-in">Commençons à travailler</a>
                                    <a href="" class="btn-secondaire animate-fade-up animate-duration-1500 animate-ease-in">Découvrez nous</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

    </div>
</div>